.leftSideColumn {
    top: -10%;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    left: 10%;
    position: absolute;
}

.rightSideColumn {
    top: -10%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    right: 10%;
    position: absolute;
}

.sideImg {
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
}




.side-animation-speed-1 {
    -webkit-animation: slide-bottom1 1.1s linear infinite;
    animation: slide-bottom1 1.1s linear infinite;
}


.side-animation-speed-2 {
    -webkit-animation: slide-bottom1 0.9s linear infinite;
    animation: slide-bottom1 0.9s linear infinite;
}

.side-animation-speed-3 {
    -webkit-animation: slide-bottom1 0.7s linear infinite;
    animation: slide-bottom1 0.7s linear infinite;
}

.side-animation-speed-4 {
    -webkit-animation: slide-bottom1 0.5s linear infinite;
    animation: slide-bottom1 0.5s linear infinite;
}

.side-animation-speed-5 {
    -webkit-animation: slide-bottom1 0.3s linear infinite;
    animation: slide-bottom1 0.3s linear infinite;
}

.side-animation-speed-6 {
    -webkit-animation: slide-bottom1 0.2s linear infinite;
    animation: slide-bottom1 0.2s linear infinite;
}

.side-animation-speed-7 {
    -webkit-animation: slide-bottom1 0.15s linear infinite;
    animation: slide-bottom1 0.15s linear infinite;
}

.side-animation-speed-8 {
    -webkit-animation: slide-bottom1 0.1s linear infinite;
    animation: slide-bottom1 0.1s linear infinite;
}











@-webkit-keyframes slide-bottom1 {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
    100% {
        -webkit-transform: translateY(200%);
        transform: translateY(200%)
    }
}

@keyframes slide-bottom1 {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
    100% {
        -webkit-transform: translateY(200%);
        transform: translateY(200%)
    }
}