.cutscenenText{
    background-color: black;
    align-content: center;
    justify-items: center;
    border-style: solid;
    position: absolute;
    color: white;
    height: 30%;
    right: 0 ;
    bottom:0;
    left: 0;
}


.IntroText{
    margin-top: 30px;
    font-family: "Press Start 2P";
    font-size: 200%;
}


.cutsceneGif{

    float: right;
    padding: 0 20px 20px 0;

}

.IntroButton{
    position: absolute;
    width: 100%;
    bottom:0;
}


.floated1 {
    font-family: "Press Start 2P";
    border: 0px solid #4CAF50;
    background-color: black;
    position: absolute;
    margin-right: 5px;
    font-size: 350%;
    color: green;
    right: 0px;
    float: left;
    bottom:0;
}


.floated2 {
    font-family: "Press Start 2P";
    border: 0px solid #ffff00;
    background-color: black;
    position: absolute;
    margin-right: 5px;
    font-size: 350%;
    color: yellow;
    left: 0px;
    bottom:0;
}

